#bigContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#indexHeader {
    margin-top: 10px;
    font-size: 50px;
}

#indexContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 20px;
    align-items: center;
    width: 85%;
}

#productContainer {
    margin: 10px;
    /* width: 25%; */
}

#productListingImage {
    width: 300px;
    height: auto;  
    margin-bottom: 5px;
}

#productListingImage img {
    width: 100%;
    height: auto;
}

#productListingImage img:hover {
    scale: 1.05;
}

#productListingName {
    color: rgb(36, 36, 182);
}

#productListingName:hover {
    color: orange
}