#backgroundImageContainer {
    position: relative;
}

#backgroundImage {
    width: 100%;
    height: auto;
    z-index: -1;
}

#directoryContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 30px;
    justify-content: center;
}

.containers {
    width: 300px;
    height: 300px;
    background-color: white;
    padding: 20px 5px 3px 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    justify-content: space-between;
}


.containers img {
    object-fit: cover;
    width: 280px;
    height: 250px;
}