#footer {
    background-color: #232f3e;
    color: #ffffff;
    padding: 20px;
    font-size: 14px;
    max-width: 100%vw;
    text-align: center;
    margin-top: 100px;
  }
  
  #upper-bar {
    /* background-color: #131921; */
    height: 5px;
    margin-bottom: 10px;
  }
  
  #lower-bar {
    background-color: #ff9900;
    height: 5px;
    margin-top: 10px;
    margin-bottom: 8px;
  }
  
  #technology-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  #technology-list li {
    margin: 0 10px;
  }
  
  #copyright {
    font-size: x-small;
  }