#productShowDiv {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    margin-top: 20px;
}

#productShowDiv h1 {
    font-size: xx-large;
}

#productShowImageDiv {
    width: 300px;
    height: auto;
}

#productShowImageDiv img {
    width: 100%;
    height: auto;
}

#productShowDescriptionDiv {
    line-height: 25px;
}