/* entire bar */
#entireNavBar {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

#topNavBar {
    background-color: #232F3E;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    /* flex-flow: row nowrap; */
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

/* left section (samazon logo, GH/Li logos */
.navLeft {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

#navIconContainer {
    width: 100px;
    height: auto;
}

#navIcon {
    width: 100%;
    height: auto;
}

#navSocials {
    display: flex;
    flex-wrap: nowrap;
    width: 100px;
    height: auto;
    justify-content: space-between;
}

#navSocials * {
    width: 60%;
    height: auto;
    margin-left: 5px;
}

/* mid section, search bar */
.navMid {
    display: flex;
    flex-wrap: nowrap;
    /* width: 50%; */
}

#navSearch {
    width: 100%
}

/* right section, login modal, cart */
.navRight {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

#helloButton {
    padding: 8px;
    background-color: #232F3E;
    color: white;
    border: 1px solid transparent;
    cursor: pointer;
}

#helloButton:hover {
    border: 1px solid white;
}

#dropdownMenu {
    position: absolute;
    top: 50px;
    right: 18%;
    width: 200px;
    background-color: white;
    border: 1px solid #ddd;
    border-top: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

#signXButton {
    height: 33px;
    width: 100%;
    border-radius: 8px;
    box-sizing: border-box;
    box-shadow: 0 2px 5px 0 rgba(213,217,217,.5);
    background: #FFD814;
    border-color: #FCD200;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    display: inline-block;
    padding: 0;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
    font-size: 13px;
}

#signXButton:hover {
    scale: 1.05;
    box-shadow: 2px 2px 50px #FEBD69;
}

#newUserText {
    font-size: 12px;
}

#historyButton {
    padding: 8px;
    background-color: #232F3E;
    color: white;
    border: 1px solid transparent;
    cursor: not-allowed;
    margin: 0 5px;
}

#historyButton:hover {
    border: 1px solid white;
}

#cartItemCount {
    position: relative;
    top: -16.5px;
    right: -25px;
    /* background-color: red; */
    color: orange;
    border-radius: 50%;
    padding: 2px 5px;
    font-size: 14px;
    text-shadow: 1px 1px 1px black;
}

#cartImage {
    width: 30px;
    height: auto;
    border: 1px solid transparent;
}

#cartImage:hover {
    border: 1px solid white;
}

#bottomNavBar {
    background-color: #37475A;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    /* flex-flow: row nowrap; */
    justify-content: space-around;
    align-items: center;
    padding: 7px;
}