/* entire bar */
#mainNavBar {
    background-color: #37475A;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    /* flex-flow: row nowrap; */
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

/* left section (samazon logo, GH/Li logos */
.navLeft {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

#navIconContainer {
    width: 100px;
    height: auto;
}

#navIcon {
    width: 100%;
    height: auto;
}

#navSocials {
    display: flex;
    flex-wrap: nowrap;
    width: 100px;
    height: auto;
    justify-content: space-between;
}

#navSocials * {
    width: 60%;
    height: auto;
    margin-left: 5px;
}

/* mid section, search bar */
.navMid {
    display: flex;
    flex-wrap: nowrap;
    /* width: 50%; */
}

#navSearch {
    width: 100%
}

/* right section, login modal, cart */
.navRight {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

#dropdownMenu {
    position: absolute;
    top: 40px;
    width: 200px;
    background-color: white;
    border: 1px solid #ddd;
    border-top: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 1;
}